* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff
    ;
}

.gh {
    display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 120px;
}
.form{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.div1{
 background-color: rgb(255, 255, 255);
padding-left: 15px;
text-align: center;
padding-top: 13px;
padding-bottom: 13px;
padding-right: 15px;
border-radius: 15px;
border: 1px solid ;
max-width: 25vw;
margin-left: 15vw;
}
.div2{
display:flex;
margin-top: 16px;
background-color: rgb(255, 255, 255);


}
.div3{
margin-bottom: 47px;
max-width: 30vw;
margin-top: 24px;
}
.link{
text-align: center;
color: blue;
text-decoration: none;
;


}


.logoface {
    width: 13vw;
}

.logoimage {
    width: 18vw;
}

.titulo {
    font-size: 35px;
    line-height: 52px;
}

.addconta {
    font-size: 18px;
}
.dados{
width: 21vw;
height:8vh ;
border-radius: 10px;
border: 1px solid  ;
display: flex;
margin-top: 10px;
padding-left: 5px;
}
.entrar{
width: 20vw;
height: 8vh;
color: rgb(255, 255, 255);
background-color: rgba(17, 17, 248, 0.847);
border-radius: 10px;
font-size: 22px;
cursor: pointer;
border: none;

}
.novaconta{
width: 12vw;
height: 8vh;
border-radius: 10px;
background-color: green;
border: none;
color: white;
font-size: 17px;
cursor: pointer;
}
.link23{
text-decoration: none;
font-weight: bold;
color: black;
}

.paragrafo{
font-size: 16px;

}

.final{
margin-top: 3vh;
margin-left: 10vw;

}
hr{
margin-bottom: 5vh;
margin-top: 4vh;
opacity: 0.5;
width: 12vw;

}
